p {
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
}

.tweetClass {
    margin-top: 15px;
    margin-bottom: 15px;
    border-style: dotted;

}

#mainTweets {
    width: 400px;
    height: auto;
    margin: auto;
}
